<table class="table table-hover">
  <tr>
    <th>内容</th>
    <th>詳細</th>
    <th>開発者用URL</th>
    <th>デプロイURL</th>
  </tr>
  <tr>
    <th>mail</th>
    <th>ユーザー作成時、mailを確認するページ</th>
    <th><a href="http://localhost:3000/mail">http://localhost:3000/mail</a></th>
    <th> - </th>
  </tr>
  <tr>
    <th>admin</th>
    <th>Userテーブルのadmin=true時、アクセスできるテーブル操作系のページ</th>
    <th><a href="http://localhost:3000/admin">http://localhost:3000/admin</a></th>
    <th><a href="https://engineer-library.herokuapp.com/admin">https://engineer-library.herokuapp.com/admin</a></th>
  </tr>
</table>
