@import "./../shared/mixin";

#landing {
  .article-item {
    padding: 20px 0;
    border-bottom: 1px solid $skeleton-black-color;
    .image {
      img:hover {
        opacity: 0.8;
      }
    }
    .summary {
      padding: 10px 1em;
      .content {
        height: 100px;
      }
      .action {
        height: 20px;
      }
    }
  }
}